<%= form_for Post.new do |f| %>

    <div class="input-group col-md-12">
      <div class="col-md-8"><%= f.text_field :content, class: "form-control" %></div>
      <div class="col-md-4"><%= f.submit "Cuack!", class: "btn btn-outline-secondary mx-3" %></div>
    </div>
<% end %>

