<h1>Los Cuacs de : <%= @user.username %></h1>

<br>

<% @posts.each do |post| %>
   <h4><%= post.content %></h4>
<% end %>
<br>
<h1>Tus Likes</h1>
<br>
<% @likes.each do |like| %>
   <% if like.post.user_id != @user.id %>
      <h4><%= like.post.content %></h4>
      <h6>by : <%= like.post.username %> </h6>
   <% end %>
<% end %>